@charset "utf-8";
/* 초기화 */
body { background: #605c66; }
body, h1, h2, h3, ul, p { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
.hidden { position: absolute; left: -9999px; }
/* 헤더 */
#header { width: 100%; height: 100px; }
#headerWrap { width: 1200px; height: 100px; margin: 0 auto; }
#headerWrap a { display: block; width: 170px; height: 100px; background-image: url(images/logo.png); margin: 0 auto; }
#login { position: absolute; top: 10px; right: 50px; }
#loginList li { float: left; margin-left: 10px; }
#loginList li a { display: block; color: #fff; font-size: 12px; }
/* 네비 */
#gnbWrap { width: 100%; height: 50px; background: #000; position: relative; }
#gnb { width: 1200px; height: 50px; margin: 0 auto; }
#gnb > li { float: left; line-height: 50px; text-align: center; }
#gnb > li > a { display: block; height: 48px; width: 200px; color: #fff; margin-bottom: 2px; }
#gnb > li > a:hover { border-bottom: 2px solid #fff; margin-bottom: 0; }
.snb { width: 200px; height: 200px; background: #000; position: absolute; }
.snb li > a { display: block; width: 200px; line-height: 45px; color: #fff; position: relative; }
.snb li > a:hover { text-decoration: underline; }
#start { position: absolute; top: 0; right: 0;  width: 200px; height: 50px; }
/* 슬라이더 */
#slider { width: 1200px; height: 700px; margin: 0 auto; overflow: hidden; }
#sliderList { width: 300%; height: 700px; }
.slider { width: 33.3333%; height: 700px; float: left;
          background: no-repeat center / cover; }
.slider1 { background-image: url(images/event1.jpg); }
.slider2 { background-image: url(images/event2.jpg); }
.slider3 { background-image: url(images/event3.jpg); }
.slider a { display: block; width: 100%; height: 800px; }
/* 업데이트 */
#updateCon { width: 100%; height: 500px; background: #cfcfcf;  }
#updateWrap { width: 1000px; height: 300px; margin: 0 auto; padding: 80px 100px; display: grid;
              grid-template-columns: auto auto; }
.update { background: no-repeat center / cover; }
#update h3 { margin: 0 0 10px 60px; color: #000; }
#guide h3 { margin: 0 0 10px 0; color: #000; }
#update a { display: block; width: 450px; height: 300px; margin-left: 50px; background-image: url(images/update.jpg); }
#guide a { display: block; width: 450px; height: 300px; background-image: url(images/guide.jpg); }
/* 추천영상 */
#playWrap { width: 100%; height: 900px; }
#play { display: grid; grid-template-columns: auto auto auto auto; gap: 50px 0;
        width: 1060px; height: 800px;
        margin: 0 auto; padding: 100px 0 0 70px; position: relative;
      }
#play h3 { position: absolute; top: 20px; left: 520px; color: #fff; font-size: 25px; }
#play a { width: 230px; height: 100px; border: 2px solid #000; background: #fff;
          position: relative; text-align: center; color: #000; font-weight: bold; font-size: 15px; padding-top: 170px; }
span { color: #2346fb; font-size: 13px; }
#play a p { display: block; width: 230px; height: 150px; background: no-repeat center / cover;
           position: absolute; top: 0; }
#play a:nth-child(2) p { background-image: url(images/play1.png); }
#play a:nth-child(3) p { background-image: url(images/play2.png); }
#play a:nth-child(4) p { background-image: url(images/play3.png); }
#play a:nth-child(5) p { background-image: url(images/play4.png); }
#play a:nth-child(6) p { background-image: url(images/play5.png); }
#play a:nth-child(7) p { background-image: url(images/play6.png); }
#play a:nth-child(8) p { background-image: url(images/play7.png); }
#play a:nth-child(9) p { background-image: url(images/play8.png); }
#play a:nth-child(2):hover p { background-image: url(images/play1.webp); }
#play a:nth-child(3):hover p { background-image: url(images/play2.webp); }
#play a:nth-child(4):hover p { background-image: url(images/play3.webp); }
#play a:nth-child(5):hover p { background-image: url(images/play4.webp); }
#play a:nth-child(6):hover p { background-image: url(images/play5.webp); }
#play a:nth-child(7):hover p { background-image: url(images/play6.webp); }
#play a:nth-child(8):hover p { background-image: url(images/play7.webp); }
#play a:nth-child(9):hover p { background-image: url(images/play8.webp); }
/* 푸터 */
#footer { width: 100%; height: 200px; background: #000; opacity: 0.5; }
#footerWrap { width: 1200px; height: 200px; margin: 0 auto; position: relative; }
#footerWrap div { width: 700px; height: 140px; text-align: center; padding-top: 60px; color: #fff; }
#footerWrap a { display: block; width: 300px; height: 60px; position: absolute; top: 35%; right: 50px; background: url(images/footer.png) no-repeat center / cover; }
/* 반응형 */
@media all and (max-width: 1550px) and (min-width: 1200px) {
  #gnb { margin: 0; }
  #gnb > li > a { width: 150px;}
  .snb { width: 150px; }
}
@media all and (max-width: 1200px) and (min-width: 950px) {
  #headerWrap { width: 100%; margin: 0; }
  #gnb { width: 100%; margin: 0; }
  #gnb > li > a { width: 150px;}
  .snb { width: 150px; }
  #start { right: -15%; }
  #slider { width: 100%; }
}
@media all and (max-width: 950px) {
  #headerWrap { width: 100%; margin: 0; }
  #gnb { width: 100%; }
  #gnb > li > a { width: 80px; font-size: 10px;  }
  .snb { width: 80px; }
  .snb li a { font-size: 10px; width: 80px; }
  #start { left: 100%; }
}
